.DS_Store
/Questions/*
/Financial/*
.swp
.gitignore.swp
certificate/Convolutional Neural Networks.pdf
certificate/Improving Deep Neural Networks  Hyperparameter tuning, Regularization and Optimization.pdf
certificate/Neural Networks and Deep Learning.pdf
certificate/Sequence Models.pdf
certificate/Structuring Machine Learning Projects.pdf
